.button {
    background-color: transparent;
    border: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 8px;

}
.arrow {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    cursor: pointer;
}